<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PythonPath" value="C:\inetpub\itam\.venv;C:\inetpub\itam" />
    <add key="WSGI_HANDLER" value="wfastcgi.handler" />
    <add key="DJANGO_SETTINGS_MODULE" value="config.settings" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\inetpub\itam\.venv\Scripts\python.exe|C:\inetpub\itam\.venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <match url="^static/(.*)" />
          <action type="Rewrite" url="/staticfiles/$1" />
        </rule>
        <rule name="Media Files" stopProcessing="true">
          <match url="^media/(.*)" />
          <action type="Rewrite" url="/media/$1" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>