<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <clear />
      <add name="StaticFile" path="*.css" verb="*" modules="StaticFileModule" resourceType="File" />
      <add name="StaticFile-JS" path="*.js" verb="*" modules="StaticFileModule" resourceType="File" />
      <add name="StaticFile-Images" path="*.png,*.jpg,*.jpeg,*.gif,*.ico,*.svg" verb="*" modules="StaticFileModule" resourceType="File" />
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\Python39\python.exe|C:\Python39\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>

    <staticContent>
      <mimeMap name=".svg" value="image/svg+xml" />
      <mimeMap name=".woff" value="application/font-woff" />
      <mimeMap name=".woff2" value="application/font-woff2" />
    </staticContent>
  </system.webServer>

  <location path="static">
    <system.webServer>
      <handlers>
        <clear />
        <add name="StaticFile" path="*" verb="*" modules="StaticFileModule" resourceType="File" />
      </handlers>
    </system.webServer>
  </location>

  <location path="media">
    <system.webServer>
      <handlers>
        <clear />
        <add name="StaticFile" path="*" verb="*" modules="StaticFileModule" resourceType="File" />
      </handlers>
    </system.webServer>
  </location>

  <appSettings>
    <!-- Django settings module -->
    <add key="DJANGO_SETTINGS_MODULE" value="config.settings.production" />

    <!-- Optional: Override with ENV_NAME -->
    <!-- <add key="ENV_NAME" value="production" /> -->

    <!-- Secret key should be in .env file -->
  </appSettings>
</configuration>
